<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discord</title>
    <link rel="stylesheet" href="discord.css">
</head>
<body>
    <div class="container">

        <div class="header">
            <p>Header</p>
        </div>

        <div class="talkingHeads">
            <div class="talkingHeadsNested">
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
            </div>


        </div>

        <div class="channels">
            <div class="booleanUk">
                <p> booleanUk</p>
            </div>

            <div class="invitePeople">
                <p>invite people</p>
            </div>

            <div class="channelsNested">
                <p>general</p>
                <p>classes</p>
                <p>lobby</p>
                <p>staff</p>
            </div>

            
        </div>

        <div class="dialog-box">
            <p>dialog-box</p>
        </div>

        <div class="profile-status">
            <div class="footerChannel">
                <p></p>
            </div>
        </div>

        <div class="chat-box">
            <div class="chatBar">
                <p></p>
            </div>
        </div>
    </div>   
</body>
</html>