<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gmail</title>
    <link rel="stylesheet" href="gmail.css">
</head>
<body>
    <div class="container">

        <div class="header">
            <div class="headerDiv">

                <div class="logo">
                    <p>1</p>
                    <p>2</p>
                    <p>3</p>
                </div>
                <div class="searchBar">
                    <p>bar</p>
                </div>
                <div class="profile">
                    <p>?</p>
                    <p>gear</p>
                    <p>menu</p>
                    <p>profile</p>
                </div>

            </div>

            <div class="logo">
                <p>1</p>
                <p>2</p>
                <p>3</p>
            </div>
            <div class="searchBar">
                <p>bar</p>
            </div>
            <div class="profile">
                <p>?</p>
                <p>gear</p>
                <p>menu</p>
                <p>profile</p>
            </div>

        </div>

        <div class="left-menu">
            <div class="compose">
                <p>Compose</p>
            </div>
            <div class="catagories">
                <p>inbox</p>
                <p>inbox</p>
                <p>inbox</p>
                <p>inbox</p>
                <p>inbox</p>
                <p>inbox</p>
                <p>inbox</p>
                <p>inbox</p>
                <p>inbox</p>
                <p>inbox</p>
                <hr>
            </div>
            <div class="meetings">
                <p>start a meeting</p>
                <p>join a meeting</p>
                <hr>
            </div>
            <div class="chat">
                <p>chat</p>
                <hr>
                <p>chat</p>
                <p>chat</p>
                <p>chat</p>
                <p>chat</p>
            </div>
        </div>

        <div class="main">
            <div class="nestedMain">
                <p>Email</p>
                <p>Email</p>
                <p>Email</p>
                <p>Email</p>
                <p>Email</p>
                <p>Email</p>
                <p>Email</p>
                <p>Email</p>
                <p>Email</p>
                <p>Email</p>
                <p>Email</p>
                <p>Email</p>
                <p>Email</p>
                <p>Email</p>
                <p>Email</p>
                <p>Email</p>
                <p>Email</p>
                <p>Email</p>
                <p>Email</p>
                <p>Email</p>
                <p>Email</p>
                <p>Email</p>
                <p>Email</p>
                <p>Email</p>
                <p>Email</p>
                <p>Email</p>
                <p>Email</p>
                <p>Email</p>
                <p>Email</p>
                <p>Email</p>
            </div>

        </div>

        <div class="right-menu">
            <div class="settings">
                <p> Quick settings </p>
                <p>see all settings</p>
                <hr>
            </div>

            <div class="Density">
                <p>Default</p>
                <p>Comfortable</p>
                <p>compact</p>
                <hr>
            </div>

            <div class="theme">
                <p>Pic</p>
                <p>Pic</p>
                <p>Pic</p>
                <p>Pic</p>
                <p>Pic</p>
                <p>Pic</p>
                <p>Pic</p>
                <p>Pic</p>
                
            </div>
            <hr>
            <div class="inboxType">
                <p>type</p>
                <p>type</p>
                <p>type</p>
                <p>type</p>
            </div>
        </div>

        <div class="side-menu">
            <div class="icons">
                <p></p>
                <p></p>
                <p></p>
            </div>
            <div class="addIcon">
                <p>+</p>

            </div>
        </div>
    </div>   
</body>
</html>