<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>linkedIn</title>
    <link rel="stylesheet" href="linkedIn.css">
</head>
<body>
    <div class="container">
        <div class="left-whitespace">
            <P>left whitespace</P>
        </div>

        <div class="header">
            <p>Header</p>
        </div>

        <div class="top-left">

            <div class="profilePic">
                <p>Pic</p>
            </div>

            <div class="profileViews">
                <p>profile views</p>
            </div>
            <div class="tryPremium">
                <p>try Premium</p>
                <p>my list</p>
            </div>
        </div>
        
        <div class="center-left">
            <div class="pageVistors">
                <p>Boolean</p>
            </div>

            <div class="analytics">
                <p>analytics</p>
            </div>
        </div>

        <div class="bottom-left">
            <div class="recent">
                <p>####</p>
            </div>

            <div class="groups">
                <p>school</p>
            </div>
        </div>

        <div class="main-upper">
            <div class="post">
                <p>start post</p>
            </div>

            <div class="attachment">
                <p>Photo</p>
                <p>video</p>
                <p>document</p>
                <p>write article</p>
            </div>
            
        </div>

        <div class="feed">
            <div class="innerFeed">
                <p>post 1</p>
                <p>post 2</p>
            </div>

        </div>

        <div class="top-right">
            <div class="news">
                <p>news</p>
            </div>
        </div>

        <div class="center-right">
            <div class="course">
                <p>course</p>
            </div>
        </div>

        <div class="bottom-right">
            <div class="followSuggestions">
                <p>person one</p>
                <p>person two</p>
                <p>person three</p>
            </div>
        </div>


        <div class="right-whitespace">
            <p>right whitespace</p>
        </div>

    </div>   
</body>
</html>